venv/
.venv/
ENV/

__pycache__/
*.py[cod]
.pytest_cache/

.env
instance/*.db
instance/users.db

.DS_Store
.vscode/
.idea/

*.log

static/uploads/profile_pictures/*
!static/uploads/profile_pictures/.gitkeep
.venv/
__pycache__/
venv/
